/* buCalendar 1.0 */
.bc-link{
    text-decoration: none;
    margin: 2px 4px;
}

.bc-btn, .bc-pill{
    border: 1px solid #bbb;
    color: #444;    
    padding: 8px 12px;
    border-radius: 4px;
}

.bc-btn:hover, .bc-pill:hover{
    background-color: #f2f2f2;
    color: #444;
}

.bc-pill{
    border-radius: 999px;
}