/* buCalendar 1.0 */
.bc-link{
    text-decoration: none;
}

.bc-btn, .bc-pill{
    border: 1px solid #888;
    color: #888;    
    padding: 4px 8px;
    border-radius: 4px;
}

.bc-btn:hover, .bc-pill:hover{
    background-color: #888;
    color: #fff;
}

.bc-pill{
    border-radius: 999px;
}